<%= simple_form_for [:admin, @product] do |f| %>
  <div class="group">
    <%= f.input :title %>
  </div>
  <% if @product.photo.present? %>
    <% @product.photo.each do |p| %>
      <li class="menu" style="list-style-type:none;float: left">
        <%= image_tag p.image.thumb.url %><br>
        <%= link_to("Delete", admin_product_path(@photo), method: :delete, data:{confirm: "Are you sure?"}, class: "btn btn-xs btn-danger") %>
      </li>
    <% end %>
  <% end %>
  <div class="form-group">
    <%= f.simple_fields_for :photo do |c| %>
      <%= c.input :image , as: :file %>
    <% end %>
  </div>
  <div class="group">
    <%= f.input :description %>
  </div>
  <div class="group">
    <%= f.input :quantity %>
  </div>
  <div class="group">
    <%= f.input :price %>
  </div>
</div>
<%= f.submit "Submit", data: { disable_with: "Submitting..." } %>
<% end %>