<!DOCTYPE html>
<html class="easy-sidebar-active">
  <head>
    <title>ShopGogo</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  </head>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="col-xs-12 need-col-12">
    <%= render "compent/nav" %>
  </div>
  <%= yield %>
</body>
</html>